body {

  color: #E6E0E6;
  margin: 0;
  font-family: Times;
}

body li{

  color: black;
  font-size: 15px;

  letter-spacing: 0.1em;
}

#title h1{

  background-color: #2f2f2f;
  color: #7D10DC;
  height: 100px;
  line-height: 100px;

}

h1 {
  color: #ffffff;

  font-size: 80px;
  font-weight: bold;

  margin: 0;


}

#more{

  background-color: #2f2f2f;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px 0;
  font-family: Times;
}

#more a{

  color: white;
  text-decoration: none;
  color: #7D10DC;
  font-size: 30px;
  font-weight: bold;
}

01101000011101000111010001110000001110100010111100101111011101110111011101110111001011100110110101100101011001000110100101100001011001100110100101110010011001010010111001100011011011110110110100101111011001100110111101101100011001000110010101110010001011110110111100110000001100000111001100110100011110010011011100110010011001000110100101110001011000100110100000101111010000110110100101101110011001000110010101110010

#more p{

  color: #7D10DC;
}

#poem p{

  color: #000000;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.01em;

}

#List p{
  font-size: 40px;
  color: #7D10DC;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
}
